body {
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.mission {
  margin-top: 40px;
  margin-bottom: 20px;
}
.intro {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.data-action {
  text-align: center;
}
.data-action a {
  font-weight: bold;
}
.data-action-icon {
  background-color: #333;
  border-radius: 50%;
  color: #fff;
  line-height: 2em;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 2em;
}
/* panels same height when side by side */
@media (min-width: 992px) {
  .resource-text {
    height: 6em;
  }
  .data-action-text {
    height: 9em;
  }
}

.detail-appeal-no {
	color: #c0c0c0;
}

.list-group-item {
	border: 0;
	padding-bottom: 10px;
	padding-top: 5px;
}
.list-group-item-label {
	padding-bottom: 0;
}

.list-group {
	margin-bottom: 0;
}

.appeal-search {
	padding-top: 5px;
}

.search-panel {
	background-color: #f5f5f5;
}

.search-body {
	padding-left: 20px;
	padding-top: 6px;
	padding-bottom: 10px;
}

.appeal-row:hover {
	outline: thin solid black;
	cursor: pointer;
}

#map {
	height: 325px;
	width: 100%;
}

.input-daterange {
	padding-bottom: 5px;
}

#accordion {
	width: 95%;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  	background-color: #f5f5f5;
}

#nprogress .bar {
  	margin-top: 1px;
  	z-index: 999999;
  	background: #ED9C28;
}

.btn-more {
	margin-bottom: 20px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ccc;
	padding-top:5px; 
	padding-bottom:5px;
}

.navbar-brand {
  padding-top: 8px;
}

/* .navbar-nav > li > a > img {
	padding-top:0px !important; 
	padding-bottom:0px !important;
} */


.navbar {
  background-color: #3661a2;
  border-color: #c7c7c7;
  min-height:41px !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-link {
	padding: 5px;
}

.breadcrumb {
    padding: 0;
}

.breadcrumb li {
    font-size: inherit;
}

#feedback { 
  width: 104px; 
  position: fixed; 
  bottom: 0;
  right: 10%;
  z-index: 999;
  text-align: center;
  /*transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}

#feedback a { 
  display: block; 
  background: #f00; 
  height: 25px; 
  width: 100px; 
  color: #fff; 
  font-family: Arial, sans-serif; 
  font-size: 17px; 
  font-weight: bold; 
  text-decoration: none; 
  border: solid 1px #333;
}

#feedback a:hover { 
  background: #06c; 
}
