<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>City of Philadelphia: {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <link rel="shortcut icon" href="{{ "/img/favicon.ico" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans|Montserrat:700">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
