<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
      </div>
      <div id="header" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="http://www.phila.gov" title="City of Philadelphia Homepage"><img src="{{ "/img/cityLogo-31px.png" | prepend: site.baseurl }}"> <img src="{{ "/img/cityLogoMark-145-30.png" | prepend: site.baseurl }}"></a></li>
              <li class="header-link"><a title="Topics" href="http://www.phila.gov/Topics">Topics</a></li>
              <li class="header-link"><a title="Business" href="http://www.phila.gov/Business">Business</a></li>
              <li class="header-link"><a title="Residents" href="http://www.phila.gov/residents">Residents</a></li>
              <li class="header-link"><a title="Visitors" href="http://www.phila.gov/visitors">Visitors</a></li>
              <li class="header-link"><a title="Government" href="http://www.phila.gov/agencies">Government</a></li>
          </ul>
      </div>
  </div>
</div>
