<div class="panel panel-default search-panel">
<div class="panel-body search-body">
  <div class="panel-body search-body">
    
    <h4>Resources</h4>
    <ul>
        <li><a href="#">Strategic Plan</a></li>
        <li><a href="{{ "/census/" | prepend: site.baseurl }}">Open Data Census</a></li>
        <li><a href="{{ "/discuss/" | prepend: site.baseurl }}">Discuss</a></li>
        <li><a href="{{ "/executive-order/" | prepend: site.baseurl }}">Executive Order 1-12</a></li>
        <li><a href="http://opendataphilly.org" target="_blank">OpenDataPhilly</a></li>
        <li><a href="{{ "/request/" | prepend: site.baseurl }}">Request Data</a></li>
        <li><a href="mailto:mailto:data@phila.gov">Contact</a></li>
    </ul>
    
  </div>
</div>
</div>