<!doctype html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">

      <div class="row">
        {% if page.panel == true %}
        <div class="col-md-4 appeal-search">
          {% include panel.html %}
        </div>
        <div class="results col-md-8">
          {{ content }}
        </div>
        {% else %}
        <div class="col-md-12">
          {{ content }}
        </div>
        {% endif %}
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>
